# Python
*.py[cod]
__pycache__/
*.pyo
*.pyd
*.pyc
*.pycache
*.so

# Virtual environments
.env
venv/
django-venv/
env/
ENV/
.venv/

# Database
db.sqlite3
*.sqlite3
# Ignore all migration files except __init__.py
*/migrations/*
!*/migrations/__init__.py


# Django stuff:
*.log
local_settings.py
settings.pyc

# Media
media/
uploads/

# Static files
staticfiles/
static/

# PyCharm / VSCode / IDEs
.idea/
.vscode/
*.iml
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Python cache
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
__pycache__/
*.manifest
*.spec

# Coverage / testing
.coverage
htmlcov/
.tox/
.nox/
pytest_cache/
.cache/
nosetests.xml
coverage.xml
*.cover

# Logs
*.log

# Environment variables
.env
.env.*
