{% block content %}
<div class="container">
    <h2>Minhas Turmas</h2>
    <table border="1" cellpadding="8">
        <tbody>
            {% for turma in turmas %}
                <div class="turma-card">
                    <h2>{{ turma.nome }}</h2>
                    <p>Curso: {{ turma.curso.nome }}</p>
                    <p>Professor: {{ turma.professor.usuario.first_name }}</p>
                    <p>Tipo: {{ turma.tipo }}</p>
                    <a href="{% url 'professor:dashboard_turma_detalhes' turma.turma_id %}">Ver detalhes</a>
                </div>

                <h1>Ver solicitacao</h1>
                <li><a href="{% url 'solicitacao:solicitacaoList' %}"><button type="button">Solicitacoes Lista</button></a></li>

                <h1>Fazer solicitacao</h1>
                <li><a href="{% url 'solicitacao:solicitacaoAdd' %}"><button type="button">Solicitacoes</button></a></li>
            {% empty %}
                <p>Nenhuma turma disponível.</p>

                <h1>Ver solicitacao</h1>
                <li><a href="{% url 'solicitacao:solicitacaoList' %}"><button type="button">Solicitacoes Lista</button></a></li>

                <h1>Fazer solicitacao</h1>
                <li><a href="{% url 'solicitacao:solicitacaoAdd' %}"><button type="button">Solicitacoes</button></a></li>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}