{% load static %}


<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - SENAI</title>
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="header">
            <img src="{% static 'login/img/senai_logo.png' %}" alt="SENAI Logo" class="senai-logo">
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p class="logo-text">Insira seu e-mail abaixo para receber um link de redefinição de senha</p>

        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                {{ form.email.label_tag }}
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="error">{{ form.email.errors }}</div>
                {% endif %}
            </div>
            <button type="submit" class="login-button">Enviar</button>
        </form>

        <div class="footer">
            <p>&copy; SENAI-SP - 2025</p>
        </div>
    </div>
</body>
</html>


