{% extends 'Professor/base.html' %}
{% block title %}Atividades do Aluno{% endblock %}
{% block content %}
<h1>{{ titulo_pagina }}</h1>
<ul>
  {% for a in atividades %}
    <li>
      <strong>{{ a.titulo }}</strong> - {{ a.turma }} - prazo: {{ a.data_entrega }}
      {% if a.arquivo %} - <a href="{{ a.arquivo.url }}">Anexo</a>{% endif %}
      - <a href="{% url 'atividades:entregar_atividade' a.atividade_id %}">Entregar / Marcar concluído</a>
    </li>
  {% empty %}
    <li>Nenhuma atividade disponível.</li>
  {% endfor %}
</ul>
{% endblock %}