<!-- Secretaria/templates/secretaria/alunoAdd.html -->
{% extends "secretaria/Abase.html" %}

{% block content %}
<div class="form-container">
  <form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    
    <div class="form-group">
      {% for field in form %}


        <!-- Inputs normais/sem necessidade de intervenção no HTML -->
        
          <div class="form-field">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
              <ul class="errorlist">{{ field.errors }}</ul>
            {% endif %}
          </div>
        

      {% endfor %}
    </div>

    <button type="submit" class="subm-form">Salvar</button>
  </form>
</div>
{% endblock %}