<!-- Secretaria/templates/secretaria/turmaList.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block main_title %} Sistema de Gerenciamento de Cursos {% endblock %}</title>
</head>
<body>
    <header>
        <!-- space for logo -->
        <h1>{% block header_title %} Gerenciamento de Turmas {% endblock %}</h1>
    </header>
    {% block navbar %}
    <nav>
        <ul> 
            <li><a href="{% url 'secretaria:turmaList' %}"> <button type="button" autofocus>Turmas</button> </a></li>
            <li><a href="{% url 'secretaria:profList' %}"> <button type="button">Professores</button> </a></li>
            <li><a href="{% url 'secretaria:alunoList' %}"> <button type="button">Alunos</button > </a></li>
            <!-- space for secretaria:config -->
        </ul>
    </nav>
    {% endblock navbar %}
    <main>
        {% block content %}
        <div class="turma-card new-turma">
            <h2> Cadastrar Nova Turma</h2>
            <div id="add-turma">
                <a href="{% url 'secretaria:turmaAdd' %}">+</a>
            </div>
            
        </div>
        {% for turma in turmas %}
            <div class="turma-card">
                <h2>{{ turma.nome }}</h2>
                <p>Curso: {{ turma.curso.nome }}</p>
                <p>Professor: {{ turma.professor.usuario.first_name }}</p>
                <p>Tipo: {{ turma.tipo }}</p>
                <!-- <a href="{% url 'secretaria:turmaDetail' turma.id %}">Ver detalhes</a> -->
            </div>
        {% empty %}
            <p>Nenhuma turma disponível.</p>
        {% endfor %}
        {% endblock content %}
    </main>
    
</body>
</html>